@font-face {
    font-family: paybooc;
    src: url(./paybooc-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: paybooc;
    src: url(./paybooc-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: paybooc;
    src: url(./paybooc-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: paybooc;
    src: url(./paybooc-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: NotoSansKR;
    src: url(./NotoSansKR-Black.woff2);
    font-weight: 900;
}
@font-face {
    font-family: NotoSansKR;
    src: url(./NotoSansKR-Bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: NotoSansKR;
    src: url(./NotoSansKR-Medium.woff2);
    font-weight: 600;
}
@font-face {
    font-family: NotoSansKR;
    src: url(./NotoSansKR-Regular.woff2);
    font-weight: 500;
}
@font-face {
    font-family: NotoSansKR;
    src: url(./NotoSansKR-Light.woff2);
    font-weight: 300;
}
@font-face {
    font-family: NotoSansKR;
    src: url(./NotoSansKR-Thin.woff2);
    font-weight: 100;
}